 <div class="footer navbar-fixed-bottom">
    <a href="https://www.facebook.com" target="_blank">
      <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
    </a>

    <a href="https://twitter.com" target="_blank">
      <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    </a>

    <a href="https://www.youtube.com" target="_blank">
      <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
    </a>

    <a href="https://plus.google.com" target="_blank">
      <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
    </a>

    <a href="https://pinterest.com" target="_blank">
      <i class="fa fa-pinterest fa-2x" aria-hidden="true"></i>
    </a>
    <p style="height: 5px;">© 2020 Copyright:<a href="" target="_blank"> DemoMart.com </a></p> 
  </div>
  