/* * {
    box-sizing: border-box;
    height: 80px;
    width: 80px;
  }
  
  .columns {
    float: left;
    width: 20%;
    padding: 8px;
    height: 50px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
    background-color: #111;
    color: white;
    font-size: 15px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  } */
  /* .products--card{
    background-color: white;
  }
  .plp-product__price--container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
 div{
   display: block;
 }
 .products .product__wrapper {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-table;
  margin-top: -1px;
  padding: 0;
  position: relative;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
body, input {
  color: #666;
  font-size: 12px;
  font-family: Celias,Helvetica;
} */
/* @media screen and (max-width: 1020px)} */