<app-header></app-header>
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/image/atta.jpg" alt="Card image cap"
           >
          <div class="card-body">
            <p class="card-text">
              <strong>{{ 254 | currency:'INR' }}</strong>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/image/atta.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <strong>{{ 254 | currency:'INR' }}</strong>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/image/atta.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <strong>{{ 254 | currency:'INR' }}</strong>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/image/atta.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <strong>{{ 254 | currency:'INR' }}</strong>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/image/atta.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <strong>{{ 254 | currency:'INR' }}</strong>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/image/atta.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <strong>{{ 254 | currency:'INR' }}</strong>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/image/atta.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <strong>{{ 254 | currency:'INR' }}</strong>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/image/atta.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <strong>{{ 254 | currency:'INR' }}</strong>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add To Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="../../assets/image/atta.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <strong>{{ 254 | currency:'INR' }}</strong>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary product-btn">Add To Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="products products--card">
  <div class="plp-products">
    <div class="plp-product-image">
      <img class="img-loader__img img-loader__img--shown img-loader__img--plp"  src="../../assets/image/atta.jpg">
      <span class="img-loader__placeholder img-loader__placeholder--circle img-loader__img img-loader__img--hidden img-loader__placeholder--plp"></span>
    </div>
    <div class="plp-product__name " title="Grofers Mother's Choice W320 Cashews" data-test-id="plp-product-name">
      <div class="plp-product__name--box" style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">Grofers Mother's Choice W320 Cashews
      </div>
    </div>
    <div class="plp-product__quantity" title="500 g" data-test-id="product-unit">
      <span>500 g</span>
    </div>
    <div class="plp-product__price"><div class="plp-product__price--container">
      <div class="display--inline-block@mobile">
        <span class="plp-product__price--new" data-test-id="plp-product-new-price">₹461</span>
      </div>
      <div class="plp-product__price--old display--inline-block@mobile" data-test-id="plp-product-old-price">₹720
      </div>
    </div>
  </div>
  <div class="plp-product__add-to-cart">
    <div class="add-to-cart">
      <button class="add-to-cart__dec" data-test-id="minus-button"></button>
      <button class="add-to-cart__add-btn" data-test-id="add-button"><span class="add-to-cart__text">ADD</span>
        <span class="add-to-cart__plus-btn display--none@desktop display--none@tablet"></span></button>
        <button class="add-to-cart__inc" data-test-id="plus-button"></button>
      </div>
    </div> -->
<!-- <div class="columns">
    <ul class="price">
      <li><img src="../../assets/image/atta.jpg"></li>
      <li class="grey">Rs 339.00<a href="#" class="button">Add To Cart</a></li>
    </ul>
  </div>
  
  <div class="columns">
    <ul class="price">
      <li><img src="../../assets/image/oil.jpg"></li>
      <li class="grey">Rs 117<a href="#" class="button">Add To Cart</a></li>
    </ul>
  </div>
  
  <div class="columns">
    <ul class="price">
      <li><img src="../../assets/image/haldi.JPG"></li>
      <li class="grey">Rs 18<a href="#" class="button">Add To Cart</a></li>
    </ul>
  </div>
  <div class="columns">
    <ul class="price">
      <li><img src="../../assets/image/salt.PNG"></li>
      <li class="grey">Rs 20<a href="#" class="button">Add To Cart</a></li>
    </ul>
  </div>
  <div class="columns">
    <ul class="price">
      <li><img src="../../assets/image/hing.JPG"></li>
      <li class="grey">Rs 70<a href="#" class="button">Add To Cart</a></li>
    </ul>
  </div> -->
  <app-footer></app-footer>

